@media (min-width: 768px) {
        .navbar-nav > li{
         padding-left: 25px;
         padding-right: 25px;
         }
}
@media (max-width: 767px) {
        .dropdown {
         padding-bottom: 10px;
         padding-top: 10px;
         }
}
.bg-navbar-color {
    background-color:lightgreen;
}
body {
    background-image: url(background.jpg);
}