@media (min-width: 992px) {
        .navbar-nav > li{
         margin-left: 4%;
         margin-right: 4%;
         }
}
@media (max-width: 991px) {
        .dropdown {
         padding-bottom: 2%;
         padding-top: 2%;
         }
}

body {
    z-index:0;
}
.content {
    padding-left: 5%;
    padding-right: 5%;
}
.bg-navbar-color {
    background-color: lightgreen;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: -1;
}

ul {
    list-style-type: none;
}
.dashed-list:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}
.tilded-list:before {
    content: '\223C';
    position: absolute;
    margin-left: -40px;
}


.text-format {
    text-indent: 50;
    text-align: justify;
}
.bold {
    font-weight: bold;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flag {
    width: 50px;
    float: right;
}

.lesson-part-position {
    margin-top: 1%;
    margin-bottom: 1%;
    clear: both;
}

.card {
    background-color: mediumaquamarine;
}

.breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
}

.arrow .not-collapsed {
    display:inline;
}
.arrow:not(.collapsed) .not-collapsed {
    display:none;
}
.arrow.collapsed .collapsed {
    display:none;
}

.card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

#firstPart, #secondPart, #thirdPart {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    display: none;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}