@media (min-width: 769px) {
        .navbar-nav > li{
         padding-left: 25px;
         padding-right: 25px;
         }
}
@media (max-width: 768px) {
        .dropdown {
         padding-bottom: 10px;
         padding-top: 10px;
         }
}
.content {
    padding-left: 5%;
    padding-right: 5%;
}
.bg-navbar-color {
    background-color:lightgreen;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.15;
    z-index: -1;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul {
    list-style-type: none;
}
.dashed-list:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}
.tilded-list:before {
    content: '\223C';
    position: absolute;
    margin-left: -40px;
}