@media (min-width: 1200px) {
        .navbar-nav > li{
         margin-left: 4%;
         margin-right: 4%;
         }
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster Regular'), local('Lobster-Regular'),
       url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}


body {
    z-index:0;
}
.content {
    padding-left: 5%;
    padding-right: 5%;
}
.bg-navbar-color {
    background-color: lightgreen;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}
.site-heading {
    font-family: "Lobster";
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 40px;
}
.card-news {
    background-color: ghostwhite;
    margin-top: 20px;
    border-radius: 10px;
}
.news-link:link {
    color: brown;
}
.news-link:visited {
    color: brown;
}
.news-link:hover {
    color: brown;
}

ul {
    list-style-type: none;
}
.dashed-list:before {
    content: '\2014';
    margin-left: -20px;
    margin-right: 10px;
}
.tilded-list:before {
    content: '\223C';
    position: absolute;
    margin-left: -40px;
}


.text-format {
    text-indent: 50px;
    text-align: justify;
}
.bold {
    font-weight: bold;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lesson-part-position {
    margin-top: 1%;
    margin-bottom: 1%;
    clear: both;
}

.card-lessons {
    background-color: mediumaquamarine;
}

.breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
}

.arrow .not-collapsed {
    display:inline;
}
.arrow:not(.collapsed) .not-collapsed {
    display:none;
}
.arrow.collapsed .collapsed {
    display:none;
}
[data-toggle~="collapse"] {
    cursor: pointer;
}

.card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

#firstPart, #secondPart, #thirdPart, #fourthPart {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    display: none;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}

.lesson-name {
    color: black;
    opacity: 0.7;
}
.lesson-link:link {
    color: black;
}
.lesson-link:visited {
    color: black;
}
.lesson-link:hover {
    color: black;
}

.label-input {
    margin-top: 7px;
    margin-right: 5px;
}

.info {
    text-decoration: none;
    color: black;
}
.info:visited {
    text-decoration: none;
    color: black;
}
.info:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

@media (max-width: 480px) {
        .my-picture {
         width: 100%;
         }
}
@media (min-width: 481px) {
        .my-picture {
         height: 40%;
         }
}
.my-picture {
    float: left;
    margin-right: 10px
}