@media (max-width: 480px) {
    .my-picture {
        width: 100%;
    }
}
@media (min-width: 481px) {
    .my-picture {
        height: 40vh;
    }
}
.text {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5%;
}
.my-picture {
    float: left;
    margin-right: 10px
}