.anim-text {
    text-align: left;
}
.btn.start {
    margin-bottom: 5%;
}
.btn.next {
    margin-left: 1%;
    margin-bottom: 5%;
    float: right;
}
.btn.previous {
    margin-left: 3%;
    margin-bottom: 5%;
    float: right;
}
.btn.pause {
    float: right;
    margin-left: 3%;
    margin-bottom: 5%;
}
.btn.save {
    margin-left: 1%;
}