.anim-text {
    text-align: justify;
}

.btn.next {
    margin-left: 1%;
    float: right;
}
.btn.previous {
    margin-left: 3%;
    float: right;
}
.btn.pause {
    float: right;
}
.btn.save {
    margin-left: 1%;
}