.anim-text {
    text-align: left;
    margin-bottom: 0;
}
.btn.start {
    margin-bottom: 2vh;
}
.btn.next {
    margin-left: 1vh;
    margin-bottom: 2vh;
}
.btn.previous {
    margin-left: 1vh;
    margin-bottom: 2vh;
}
.btn.pause {
    margin-bottom: 2vh;
}
.btn.save {
    margin-left: 1vh;
}