@media (min-width: 470px) { 
    .graph {
        height: 60vh;
    }
}
@media (min-width: 576px) { 
    .graph {
        height: auto;
    }
}
@media (min-width: 680px) { 
    .graph {
        height: 60vh;
    }
}