@media (min-width: 470px) { 
    .graph {
        height: 60vh;
    }
}
@media (min-width: 576px) { 
    .graph {
        height: auto;
    }
}
@media (min-width: 680px) { 
    .graph {
        height: 60vh;
    }
}

.information {
    color: #0d6efd;
}
.information:hover, .information:focus {
    color: #0b5ed7
}
.modal-dialog {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}