.lesson-part-position {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.lesson-part {
    background-color: #e9e9e9;
    border-radius: 10px;
    display: none;
    width: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 2vh;
}
.btn.btn-secondary {
    text-align: left;
}

.text-format {
    text-indent: 50px;
    text-align: justify;
}
.bold {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
.dashed-list, .task-list {
    margin-left: -15px;
}
.dashed-list:before, .task-list:before {
    content: '\2013';
    margin-right: 20px;
}
.tilded-list {
    margin-left: -20px;
}
.tilded-list:before {
    content: '\223C';
    margin-right: 5px;
}
.info {
    text-decoration: none;
    color: black;
}
.info:visited {
    text-decoration: none;
    color: black;
}
.info:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

pre {
    overflow-x: auto;
    max-width: 100%;
}
code {
    word-wrap: normal !important;
    background: #343a40 !important;
}

.graph-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.undo-mini, .redo-mini, .import-mini, .save-mini, .settings, .information {
    color: #198754;
}
.undo-mini:hover, .undo-mini:focus, .redo-mini:hover, .redo-mini:focus, .import-mini:hover, .import-mini:focus, .save-mini:hover, .save-mini:focus, .settings:hover, .settings:focus, .information:hover, .information:focus {
    color: #157347;
}

.mini-menu {
    display: none;
    position: absolute;
    z-index: 1;
    
    background-color: #e9ecef;
    border-radius: 5px;
    margin-top: -2px;
    
    transform: scale(0.5,0.5);
    transform-origin: top left;
}
.link-secondary:hover .mini-menu {
    display: block;
}
.mini-btn {
    margin-top: 2vh;
}
.mini-lesson-part {
    background-color: white;
    margin-bottom: 2vh;
}