.card {
    margin-top: 0;
    margin-bottom: 2vh;
}
.card-lessons {
    background-color: mediumaquamarine;
    break-inside: avoid;
    overflow: hidden;
    padding: 0;
}
.card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

.arrow .not-collapsed {
    display: inline;
}
.arrow:not(.collapsed) .not-collapsed {
    display: none;
}
.arrow.collapsed .collapsed {
    display: none;
}
[data-bs-toggle~="collapse"] {
    cursor: pointer;
}

.lesson-name {
    color: black;
    opacity: 0.7;
}
.lesson-link:link {
    color: black;
    text-decoration: none;
}
.lesson-link:visited {
    color: black;
}
.lesson-link:hover {
    color: black;
    text-decoration: underline;
}

.container {
    column-count: 3;
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
@media (max-width: 767.98px) {
    .container {
        column-count: 2;
    }
}
@media (max-width: 575.98px) {
    .container {
        column-count: 1;
    }
}