.card-lessons {
    background-color: mediumaquamarine;
}
.card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

.arrow .not-collapsed {
    display:inline;
}
.arrow:not(.collapsed) .not-collapsed {
    display:none;
}
.arrow.collapsed .collapsed {
    display:none;
}
[data-toggle~="collapse"] {
    cursor: pointer;
}

.lesson-name {
    color: black;
    opacity: 0.7;
}
.lesson-link:link {
    color: black;
}
.lesson-link:visited {
    color: black;
}
.lesson-link:hover {
    color: black;
}