.lesson-part-position {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    clear: both;
}
#firstPart, #secondPart, #thirdPart, #fourthPart {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    display: none;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.text-format {
    text-indent: 50px;
    text-align: justify;
}
ul {
    list-style-type: none;
}
.dashed-list:before {
    content: '\2014';
    margin-left: -20px;
    margin-right: 10px;
}
.tilded-list:before {
    content: '\223C';
    margin-left: -40px;
}
.info {
    text-decoration: none;
    color: black;
}
.info:visited {
    text-decoration: none;
    color: black;
}
.info:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

pre {
    overflow-x: auto;
    max-width: 100%;
    background: #343a40 !important;
}

.label-input {
    margin-top: 5px;
    margin-right: 5px;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}