h1 {
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.lesson-part-position {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    clear: both;
}
#firstPart, #secondPart, #thirdPart, #fourthPart {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    display: none;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2vh;
}
.btn.btn-secondary {
    text-align: left;
}

.text-format {
    text-indent: 50px;
    text-align: justify;
}
.bold {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
.dashed-list:before {
    content: '\2014';
    margin-left: -20px;
    margin-right: 10px;
}
.tilded-list:before {
    content: '\223C';
    margin-left: -40px;
}
.info {
    text-decoration: none;
    color: black;
}
.info:visited {
    text-decoration: none;
    color: black;
}
.info:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.link-danger {
    text-decoration: none;
}
.link-danger:hover {
    text-decoration: underline;
}

pre {
    overflow-x: auto;
    max-width: 100%;
}
code {
    word-wrap: normal !important;
    background: #343a40 !important;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.undo-mini, .redo-mini, .settings, .information {
    color: #0d6efd;
}
.undo-mini:hover, .undo-mini:focus, .redo-mini:hover, .redo-mini:focus, .settings:hover, .settings:focus, .information:hover, .information:focus {
    color: #0b5ed7;
}