@media (min-width: 1140px) {
    .navbar-nav > li {
        margin-left: 4%;
        margin-right: 4%;
    }
}
.navbar-collapse.show, .navbar-collapse.collapsing {
    margin-top: 0.5rem;
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Lobster Regular'), local('Lobster-Regular'),
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: url('/algo-site/fonts/Consolas.eot');
    src: local('Consolas'),
        url('/algo-site/fonts/Consolas.eot?#iefix') format('embedded-opentype'),
        url('/algo-site/fonts/Consolas.woff2') format('woff2'),
        url('/algo-site/fonts/Consolas.woff') format('woff'),
        url('/algo-site/fonts/Consolas.ttf') format('truetype');
}

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.bg-navbar-color {
    background-color: lightgreen;
}
.btn-light:hover {
    background-color: #e2e6ea;
}
.btn-light:focus {
    background-color: #e2e6ea;
    border-color: #d3d9df;
}
.btn-light.show {
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.wrapper {
    overflow-y: auto;
    width: 100%;
    outline: none;
}
.content {
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;

    background-image: url(/algo-site/images/background.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
}
footer {
    background: #696969;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    clear: both;
}
.about-me:link {
    color: firebrick;
    text-decoration: underline;
}
.about-me:visited {
    color: firebrick;
    text-decoration: underline;
}
.about-me:hover {
    color: white;
    text-decoration: none;
}
.bi-github:hover {
    background-color: #696969;
    color: white;
}
.breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0px;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.site-heading {
    font-family: "Lobster";
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 40px;
}
.card {
    background-color: ghostwhite;
    margin-top: 20px;
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 0.25rem;
}
.card-link:link {
    color: brown;
    text-decoration: none;
}
.card-link:visited {
    color: brown;
    text-decoration: none;
}
.card-link:hover {
    color: brown;
    text-decoration: none;
}

.breadcrumb {
    background-color: #e9ecef;
    padding-left: 1rem;
    padding-right: 1rem;
}