@media (min-width: 1140px) {
    .navbar-nav > li {
        margin-left: 4%;
        margin-right: 4%;
    }
}
@media (max-width: 330px) {
    .navbar .navbar-toggler {
        margin-bottom: 0.5rem !important;
    }
}
@media (max-width: 399px) {
	.dropdown.end {
		display: none;
	}
}
@media (min-width: 400px) {
	.dropdown.start {
		display: none;
	}
}
.navbar-collapse.show, .navbar-collapse.collapsing {
    margin-top: 0.5rem;
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Lobster Regular'), local('Lobster-Regular'),
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/algo-site/fonts/lobster-v23-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: url('/algo-site/fonts/Consolas.eot');
    src: local('Consolas'),
        url('/algo-site/fonts/Consolas.eot?#iefix') format('embedded-opentype'),
        url('/algo-site/fonts/Consolas.woff2') format('woff2'),
        url('/algo-site/fonts/Consolas.woff') format('woff'),
        url('/algo-site/fonts/Consolas.ttf') format('truetype');
}

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
header {
    position: relative;
}

.bg-navbar-color {
    background-color: lightgreen;
}

.wrapper {
    overflow-y: auto;
    width: 100%;
    outline: none;
}
.content {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;

    background-image: url(/algo-site/images/background.png);
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: scroll;
}
footer {
    background: #696969;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    clear: both;
}
.about-me:link {
    color: brown;
    text-decoration: underline;
}
.about-me:visited {
    color: brown;
    text-decoration: underline;
}
.about-me:hover {
    color: white;
    text-decoration: none;
}
.bi-github:hover {
    background-color: #696969;
    color: white;
}
.breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    background-color: #e9ecef;
    padding-left: 1rem;
    padding-right: 1rem;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    text-align: center;
}

.site-heading, h1 {
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.site-heading {
    font-family: "Lobster";
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 40px;
}
.card {
    background-color: #f8f9fa;
    margin-top: 20px;
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 0.25rem;
}
.link-danger, .link-secondary {
    text-decoration: none;
    cursor: pointer;
}
.link-danger:hover, .link-secondary:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-dialog {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: #198754;
    border-color: #157347;
}
.form-control:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.3rem rgba(40, 167, 69, 0.25);
}
.nav-tabs > li > button {
    color: #198754;
}
.nav-tabs > li > button:hover {
    color: #006400;
}