.text {
    background-color: #e9e9e9;
    border-radius: 10px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5%;
}
.text-format {
    text-indent: 50px;
    text-align: justify;
}